/*Style information for all pages*/



* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif,
}

#giphy-form, #buttons-view {
	margin-left: 20px;
}

.topics-button {
	margin-right: 5px;
}

.mainview {
	margin-left: 20px;
}
/*.giphy-view {
	float: left;
	font-size: 18px;
	font-weight: bold;
}*/
 
.gif-hints {
	margin-left: 20px;
 }

 .gifDiv {
 	float: left;
 }

